<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>qmsys</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>user_login</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.user.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user_login</servlet-name>
        <url-pattern>/user_login.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>pageforward</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.menuitem.MenuitemForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pageforward</servlet-name>
        <url-pattern>/pageforward.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>addquestion</display-name>
        <servlet-name>addquestion</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.question.AddQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addquestion</servlet-name>
        <url-pattern>/addquestion.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>seekquestion</display-name>
        <servlet-name>seekquestion</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.question.SeekQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>seekquestion</servlet-name>
        <url-pattern>/seekquestion.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>QueryMenuServlet</display-name>
        <servlet-name>QueryMenuServlet</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.menuitem.QueryMenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryMenuServlet</servlet-name>
        <url-pattern>/QueryMenuServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>QueryMenuServlet2</display-name>
        <servlet-name>QueryMenuServlet2</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.menuitem.QueryMenuServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryMenuServlet2</servlet-name>
        <url-pattern>/QueryMenuServlet2.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>DeleteMenuServlet</display-name>
        <servlet-name>DeleteMenuServlet</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.menuitem.DeleteMenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteMenuServlet</servlet-name>
        <url-pattern>/DeleteMenuServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>addpaper</display-name>
        <servlet-name>addpaper</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.paper.AddPaperServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addpaper</servlet-name>
        <url-pattern>/addpaper.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>delpaper</display-name>
        <servlet-name>delpaper</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.paper.DeletePaperServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delpaper</servlet-name>
        <url-pattern>/delpaper.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>QueryPaper</display-name>
        <servlet-name>QueryPaper</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.paper.QueryPaperServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryPaper</servlet-name>
        <url-pattern>/QueryPaper</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name></display-name>
        <servlet-name>detailquestion</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.question.DetailQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>detailquestion</servlet-name>
        <url-pattern>/detailquestion.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name></display-name>
        <servlet-name>updatequestion</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.question.UpdateQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updatequestion</servlet-name>
        <url-pattern>/updatequestion.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name></display-name>
        <servlet-name>uppic</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.question.UpImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uppic</servlet-name>
        <url-pattern>/uppic.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>AddMenuServlet</display-name>
        <servlet-name>AddMenuServlet</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.menuitem.AddMenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMenuServlet</servlet-name>
        <url-pattern>/AddMenuServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>AddSubjectServlet</display-name>
        <servlet-name>AddSubjectServlet</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.subject.AddSubjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSubjectServlet</servlet-name>
        <url-pattern>/AddSubjectServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ListSubjectServlet</display-name>
        <servlet-name>ListSubjectServlet</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.subject.ListSubjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListSubjectServlet</servlet-name>
        <url-pattern>/ListSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>QueryOneSubjetServlet</display-name>
        <servlet-name>QueryOneSubjetServlet</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.subject.QueryOneSubjetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryOneSubjetServlet</servlet-name>
        <url-pattern>/QueryOneSubjetServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>DeleteSubjectServlet</display-name>
        <servlet-name>DeleteSubjectServlet</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.subject.DeleteSubjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSubjectServlet</servlet-name>
        <url-pattern>/DeleteSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>UpdateSubjectServlet</display-name>
        <servlet-name>UpdateSubjectServlet</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.subject.UpdateSubjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateSubjectServlet</servlet-name>
        <url-pattern>/UpdateSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>deletequestion</display-name>
        <servlet-name>deletequestion</servlet-name>
        <servlet-class>com.cust.qmsys.servlet.question.DeleteQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletequestion</servlet-name>
        <url-pattern>/deletequestion.do</url-pattern>
    </servlet-mapping>
</web-app>